.set-gallery__toc__container {
	background-color: #f8f9fa;
	border: 1px solid #CCC;
	padding: 0.25em 1em;
}

.set-gallery__toc__container > .set-gallery__toc__list::before {
	content: 'Go to:\20';
	font-weight: bold;
}

.set-gallery__toc__list.set-gallery__toc__list {
	display: inline;
	margin: 0;
}

.set-gallery__toc__list::before {
	content: '(';
	margin-left: 0.5em;
}

.set-gallery__toc__list::after {
	 content: ')';
}

.set-gallery__toc__entry {
	display: inline;
}

.set-gallery__toc__entry + .set-gallery__toc__entry::before {
	content: '•';
	margin: 0 0.5em;
}
