.set-gallery__toc__container {
	background-color: #f8f9fa;
	border: 1px solid #CCC;
}

.set-gallery__toc__list.set-gallery__toc__list {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 0.5em;
	margin: 0;
}

.set-gallery__toc__container > .set-gallery__toc__list::before {
	content: 'Go to:\20';
	font-weight: bold;
}

.set-gallery__toc__list::before {
	content: '('
}

.set-gallery__toc__list::after {
	 content: ')'
}


.set-gallery__toc__entry {
	display: inline-flex;
}

.set-gallery__toc__entry + .set-gallery__toc__entry::before {
	content: '•';
	margin-right: 0.5em;
}
