.card-gallery__toc {
	background-color: #f8f9fa;
	border: 1px solid #CCC;
}

.card-gallery__toc ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.card-gallery__toc__entry {
	display: inline-block;
	padding: 0.25em;
}

.card-gallery__toc__entry::before { font-weight: bold; }

.card-gallery__toc__entry:first-child::before { content: 'Go to:\20'; }

.card-gallery__toc__entry:not(:first-child)::before { content: '• '; }
