.cts td[title] {
	white-space: nowrap;
}

.cts th {
	box-sizing: border-box;
}

.cts tbody td:nth-child(3),
.cts :lang(fr),
.cts :lang(de),
.cts :lang(it),
.cts :lang(pt),
.cts :lang(es) {
	font-style: italic;
}

.cts__header--release {
	width: 6.5em;
}

.cts__header--number {
	min-width: 8em;
}

.cts__header--rarity {
	min-width: 9em;
	max-width: 14em;
}

.cts tr td:nth-child(2) {
	white-space: nowrap;
}