.set-gallery__main {
	display: initial;
	display: flex;
	justify-content: space-around;
	justify-content: space-evenly;
	flex-wrap: wrap;
	text-align: center;
}

.thumb {
	display: flex;
	align-items: center;
	justify-content: center;
}

.noFile {
	overflow-wrap: break-word;
}
