.set-gallery {
	border: 0;
	background-color: transparent;
	white-space: normal;
	text-align: center;
	font-family: sans-serif;
	padding: 0;
}

.set-gallery .mw-gallery-traditional {
	display: initial;
	display: flex;
	justify-content: space-around;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.thumb {
	display: flex;
	align-items: center;
	justify-content: center;
}

.noFile {
	overflow-wrap: break-word;
}
