div[data-fuse="lhs_sidebar"] {
	position: sticky;
	top: 1em;
}

#nitro-ads-sidebar {
	position: sticky !important;
	top: 1.5em;
	font-size: unset !important;
}

#nitro-ads-sidebar, .nitro-content-banner {
	margin-top: 1.5rem;
}

#ncmp-consent-link > button {
	background-color: #36c;
	border-color: #36c;
	color: #FFF;
	cursor: pointer;
	display: inline-flex;
	font-weight: bolder;
}

/* Hide large ads creating horizontal scroll on main page */
@media screen and (min-width: 1201px) {
	[data-grid-area="discord"] .nitro-content-banner > *,
	[data-grid-area="latestanime"] .nitro-content-banner > *,
	[data-grid-area="latestmanga"] .nitro-content-banner > *,
	[data-grid-area="latestduellinks"] .nitro-content-banner > *,
	[data-grid-area="externallinks"] .nitro-content-banner > * {
		visibility: hidden;
	}
}
