div[data-fuse="lhs_sidebar"] {
	position: sticky;
	top: 1em;
}

#nitro-ads-sidebar {
	position: sticky !important;
	top: 1.5em;
	font-size: unset !important;
}

#nitro-ads-sidebar, .nitro-content-banner {
	margin-top: 1.5rem;
}
