div[data-fuse="lhs_sidebar"] {
	position: sticky;
	top: 1em;
}

#nitro-ads-sidebar {
	position: sticky !important;
	top: 1.5em;
	font-size: unset !important;
}

.nitro-content-banner {
	z-index: -1;
}

#nitro-ads-sidebar, .nitro-content-banner {
	margin-top: 1.5rem;
}

#ncmp-consent-link > button {
	background-color: #36c;
	border-color: #36c;
	color: #FFF;
	cursor: pointer;
	display: inline-flex;
	font-weight: bolder;
}
